body{
    color:azure;
    background-image: url(fondo.jpg);
}
#portada {
    margin-top: 3%;
}
.disco{
    font-family: fantasy;
    color:azure;
    float: right;
}
#tabla{
    font-family: fantasy;
    color:azure;
}
